.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-container {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
}

.hero-container h1 {
    font-size: 5rem;
    color: rgb(255, 255, 61);
}

.hero-container p {
    font-size: 1.5rem;
    color: #e6c353ff;
}

.hero-container img {
    height: 35rem;
}

.main-home {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
}
