.dashboard {
    display: grid;
    grid-template-areas:
        "nav"
        "dashboard"
    ;
    height: 100%;
    grid-template-rows: 8%;
    align-items: center;
}

.dashboard-container {
    grid-area: dashboard;
    display: grid;
    grid-template-areas:
        "sidebar dash"
    ;
    height: 100%;
    grid-template-columns: 11%;
}

.dash-navbar {
    grid-area: nav;
}

.sidebar-container {
    grid-area: sidebar;
}

.dash-main {
    grid-area: dash;
    background-color: rgb(185, 86, 102);
}

.dash-lists {
    display: flex;
    flex-direction: row;
}